:root{
    --maroon1: #604326;
    --marron2: #9F7957;
    --marron3: #DDB794;
    --marron4: #FAECE0;
    --marron5: #6C4019;
    --amarillo: #EFB40D;
    --background: #D9D9D9;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
}
